body {
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Headers*/
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
}

/* Containers */
.container {
    padding: 17px 20px;
}

.container-space {
    padding: 200px 20px;
}

/* Backgrounds */
.background-teal {
    background-color: rgb(119, 95, 185);
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}

.background-dark {
    background-color: rgb(36, 35, 39);
}

.background-green {
    background-color: #5352a3;
}

/* Header */


nav#main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav#main ul li {
    display: inline-block;
    margin-right: 20px;
}

nav#main ul li a {
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
    
}


/* Feature */
.feature h1 {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    margin-top: 70px;
}

/* Image */
.circle {
    height: 350px;
    width: 350px;
    background-color: rgb(58, 57, 57);
    border-radius: 50%;
}

.img1 {
    width: 302px;
    height: 210px;
    background-size: cover;
}

.resource {
    width: 100px;
    height: 100px;
    text-align: center;
}

.resource img {
    margin: auto;
    vertical-align: middle;
}

/* proj */

.proj {
    text-align: center;
}

.proj h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.proj p {
    margin: 0 auto 60px auto;
    color: #bda7e4;
}

.proj a {
    color: #bda7e4;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-block;
}

/* input */

input[type=checkbox] {
    display: none;
}

.proj img {
    transition: transform 0.25s ease;
    cursor: zoom-in;
}

input[type=checkbox]:checked~label>img {
    transform: scale(1.5);
    cursor: zoom-out;
}

#project:target {
    background-color: rgb(120, 190, 164);
    /* -webkit-transition: all 1s linear; */
}