body {
    font-family: 'Open Sans', sans-serif;
}

/* Headers*/
h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
}

/* Containers */
.container {
    padding: 40px 20px;
}

.container-space {
    padding:150px 20px;
}

/* Backgrounds */
.background-teal {
    background-color: rgb(119, 95, 185);
}

.background-dark {
    background-color: rgb(36, 35, 39);
}

.background-green {
    background-color: #5352a3;
}

/* Header */


/* Comments */
nav#main ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    float: right;
}

nav#main ul li {
    display:inline-block;
    margin-right: 20px;
}

nav#main ul li a {
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

/* Feature */
.feature h1 {
    font-size: 4.5em;
    font-weight: bold;
    color: white;
    margin-bottom: 40px;
    margin-top: 70px;
}

/* Image */
.circle {
    height: 350px;
    width: 350px;
    background-color: rgb(58, 57, 57);
    border-radius: 50%;
  }

/* proj */

.proj {
    text-align: center;
}

.proj h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.proj p {
    margin: 0 auto 60px auto;
    color: #bda7e4;
}

.proj a {
    color: #bda7e4;
    margin-top: 30px;
    display: inline-block;
}