html {
    height: 100%;
    width: 100%;
}

body {
    display: table;
    height: 100%;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    text-align: center;
    min-height: 1600px;
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    font-weight: bold;
}

.row {
    display: table-row;
    height: 30%;
}

.cell {
    vertical-align: middle;
    display: table-cell;
}


.row:nth-child(1) {
    background-image: url("b1.png");
    background-position-x: center;
}

.row:nth-child(2) {
    background-color: #ffffff;
}

.row:nth-child(3) {
    background-color: #71b9d8;
}